
```{=html}
<div class="list grid" style="column-gap: 10px;">

<% for (const item of items) { %>

  <div class="card rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%= metadataAttrs(item) %>>
    <div class="card-header rounded-top-3 py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text inline-block">
        <a href="<%- item.url %>" class="listing-title"><%= item.title %></a>
        <span class="text-muted listing-subtitle"><%= item.author %></span>
      </small>
    </div>
    <a href="<%- item.url %>">
      <img src="thumbnails/<%- item.thumbnail %>" alt="<%- item.description %>" class="card-img-top"/>
    </a>
    
    <% if (item.publicationdate) { %> 
      <b class="listing-publicationdate"><%= item.publicationdate %></b>
    <% } %>
    
  </div>
<% } %>

</div>

```